<h1>Welcome to Patient Portal!</h1>
<p>
Secure access and communication between a patient and his or her physician has become increasingly difficult.  A simple system through which a physician can enter clinical details and results and patients can add their personally tracked health information can greatly facilitate the flow of communication between the said parties.
A patient portal also provides the parties with the ease and comfort of accessing their medical stats from anywhere in the world just with internet access.
Using secure username and password patients can view health information like:<br>
  
  <li>Recent Doctor’s Visits</li>
  <li>Allergies</li>
  <li>Past Medical Reports</li>
  <li>Schedule Doctors Appointment</li>
  <li>View Balance Payments</li>
  <li>Record Vital Numbers and Compare Vitals to Normal Ranges of other Patients </li> <br>
  
The patient portal developed in this project gives the patients an Individualized look on their personal health as compared to other patients with similar Health Conditions.This provides the patient with motivation to keep improving their Health. The patient portal will also allow the patients to upload their own vital Statistics at home with regular portable devices and this mechanism will warn the Patient if his/her vital value range is not within the normal range. This will in-turn improve the physician-patient follow up’s and help the parties in working together towards achieving individual patients health goals.<br><br>
  
This Portal is Developed as a part of my MS Project in Computer Science at IUPUI,Indianapolis.
You can contact me at shrechak@umail.iu.edu if you wish to use the portal for other purposes.<br><br>
  
Please Sign-Up or Sign-In to use the portal!
 

  
</p>
